.left, .dark-modeleft {
    height: 38px;
    width: 2px;
    right: 190px;
    top: 10px;
    display: block;
}

.top, .dark-modeTop {
    height: 2px;
    width: 230.3px;
    right: -39px;
    top: 10px;
    display: block;
}

.bottom, .dark-modeBottom {
    height: 2px;
    width: 180px;
    right: 12px;
    bottom: 10px;
    display: block;
}

.right, .dark-modeRight {
    height: 65px;
    width: 2px;
    right: -14px;
    top: -2.4px;
    border-bottom-right-radius: 10px;
    display: block;
    transform: rotate(54deg);
}

.leftFforLeft, .dark-modeleftForLeft {
    height: 65px;
    width: 2px;
    right: 200px;
    top: 0px;
    display: block;
    transform: rotate(54deg);
}


.topForLeft, .dark-modeTopForLeft {
    height: 2px;
    width: 189.4px;
    right: -13.6px;
    top: 12.9px;
    display: block;
    border-radius: 50px;
}

.bottomForLeft, .dark-modeBottomForLeft {
    height: 2px;
    width: 239.8px;
    right: -13px;
    bottom: 7.4px;
    display: block;
}

.rightForLeft, .dark-modeRightForLeft {
    height: 38.5px;
    width: 2px;
    right: -13.6px;
    top: 13.5px;
    display: block;
}

.containerButton {
    position: relative;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}

.dark-modeContainerButton {
    position: relative;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}

.containerButtonForLeft {
    position: relative;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    top: -1px;
    transition: all 0.3s ease;
    z-index: 1;
}

.dark-modeContainerButtonForLeft {
    position: relative;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    top: -1px;
    transition: all 0.3s ease;
    z-index: 1;
}

.containerButton p {
    font-size: 1rem;
    font-weight: bold;
    color: #22004B;
    transition: color 0.3s ease;
    position: relative; 
    z-index: 3;
}

.dark-modeContainerButton p {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s ease;
    position: relative; 
    z-index: 3;
}

.containerButtonForLeft p {
    font-size: 1rem;
    font-weight: bold;
    color: #22004B;
    position: relative;
    left: 6px;
    top: 2px;
    transition: color 0.3s ease;
}

.dark-modeContainerButtonForLeft p {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    left: 6px;
    top: 2px;
    transition: color 0.3s ease;
}

.left, .top, .bottom, .right,
.leftFforLeft, .topForLeft, .bottomForLeft, .rightForLeft {
    background-color: #22004B;
    position: absolute;
    z-index: 2;
}

.dark-modeleft, .dark-modeTop, .dark-modeBottom,
.dark-modeRight, .dark-modeleftForLeft, .dark-modeTopForLeft,
.dark-modeBottomForLeft, .dark-modeRightForLeft {
    background-color: #fff;
    position: absolute;
    z-index: 2;
}

.containerButton:hover .left {
    right: 191px;
    top: 10px;
    display: block;
    background-color: #22004B; 
    width: 90%;
    transform: translateX(100%);
}

.dark-modeContainerButton:hover .dark-modeleft {
    right: 191px;
    top: 10px;
    display: block;
    background-color: #fff; 
    width: 90%;
    transform: translateX(100%);
}

.containerButton:hover .bottom {
    background-color: transparent;
    position: absolute;
    width: 2%; 
    transform: rotate(-35deg); 
    height: 10px; 
    left: 174.9px; 
    bottom: 28.9px; 
    display: block;
    z-index: 1;
    border-left: 18px solid transparent;
    border-right: 44px solid transparent;
    border-bottom: 30px solid #22004B;
    transition: .0.7s;
}

.dark-modeContainerButton:hover .dark-modeBottom {
    background-color: transparent;
    position: absolute;
    width: 2%; 
    transform: rotate(-35deg); 
    height: 10px; 
    left: 174.9px; 
    bottom: 28.9px; 
    display: block;
    z-index: 1;
    border-left: 18px solid transparent;
    border-right: 44px solid transparent;
    border-bottom: 30px solid #fff;
    transition: .0.7s;
}

.containerButtonForLeft:hover .leftFforLeft {
    background-color: transparent;
    position: absolute;
    height: 25px;
    width: 70px;
    right: 158px;
    top: 29px;
    display: block;
    border-left: 20px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 31px solid#22004B;
    transform: rotate(-215deg);
}

.dark-modeContainerButtonForLeft:hover .dark-modeleftForLeft{
    background-color: transparent;
    position: absolute;
    height: 25px;
    width: 70px;
    right: 158px;
    top: 29px;
    display: block;
    border-left: 20px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 31px solid #fff;
    transform: rotate(-215deg);
}

.containerButtonForLeft:hover .rightForLeft {
    right: 176px;
    top: 13.7px;
    display: block;
    background-color: #22004B; 
    width: 95%;
    transform: translateX(100%);
    z-index: 1;
}

.dark-modeContainerButtonForLeft:hover .dark-modeRightForLeft {
    right: 176px;
    top: 13.7px;
    display: block;
    background-color: #fff; 
    width: 95%;
    transform: translateX(100%);
    z-index: 1;
}


.containerButton:hover p {
    color: #fff; 
}

.dark-modeContainerButton:hover  p {
    color: #22004B; 
}

.containerButtonForLeft:hover p {
    color: #fff; 
    z-index: 1;
}

.dark-modeContainerButtonForLeft:hover p {
    color: #22004B; 
    z-index: 1;
}

.contatoButton {
    text-decoration: none;
}