.container-skills {
    width: 100%;
    margin-top: 10px;
    padding: 30px;
}

.titleSkills {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: end;
    justify-content: end;
}

.dark-modeTitleSkills {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: end;
    justify-content: end;
}

.titleSkills h2 {
    color: #22004B;
    font-weight: bold;
    position: relative;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.dark-modeTitleSkills h2 {
    color: #fff;
    font-weight: bold;
    position: relative;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.squareWhite {
    height: 27px;
    width: 27px;
    border: 1.5px solid #22004B;
    border-radius: 2px;
}

.dark-modeTitleSkills .squareWhite {
    height: 27px;
    width: 27px;
    background-color: #fff;
    border-radius: 2px;
}


.purple {
    width: 50%;
    height: 100%;
    background-color: #22004B;
}

.dark-modeTitleSkills .white {
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.dark-modeTitleSkills .squarePurple {
    height: 27px;
    width: 27px;
    background-color: #22004B;
    border: 1.5px solid #fff;
    border-radius: 2px;
}

.squarePurple {
    height: 27px;
    width: 27px;
    background-color: #22004B;
    border-radius: 2px;
}

.lineSkills {
    height: 2px;
    background-color: #482F68;
    opacity: 25%;
    width: 970px;
    display: block;
    position: absolute;
    right: 240px;
    bottom: 7px;
    flex-grow: 1
}

.dark-modeTitleSkills .lineSkills {
    height: 2px;
    background-color: #ffff;
    opacity: 25%;
    width: 1000px;
    display: block;
    position: absolute;
    right: 240px;
    bottom: 7px;
    flex-grow: 1
}


.skillsIcon {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    margin: 30px auto;
    justify-items: center; 
}

.dark-modeSkillsIcon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    margin: 30px auto;
    justify-items: center; 
}


.dark-modeSkillsIcon div {
    display: flex;
    justify-content: center;
    gap: 130px;
}

.skillsIcon div{
    display: flex;
    justify-content: center;
    gap: 130px;
}

.icon {
    display: inline-flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    border-radius: 5px; 
    transition: .5s ; 
    z-index: 1;
}

.iconPg {
    display: inline-flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    border-radius: 5px; 
    transition: .5s ; 
    z-index: 1;
}

.dark-modeSkillsIcon .icon {
    display: inline-flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    border-radius: 5px; 
    transition: .5s ; 
    z-index: 1;
}

.dark-modeSkillsIcon .icon p {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: -110px; 
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
}

.icon p {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: -110px; 
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
}

.iconPg p {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: -110px; 
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
}

.iconPg:hover p {
    opacity: 1;
    color: #fff;
}

.icon:hover p {
    opacity: 1;
    color: #fff;
}

.dark-modeSkillsIcon .icon:hover p {
    opacity: 1;
    color: #22004B;
    font-weight: bold;
}

.dark-modeSkillsIcon .iconPg:hover p {
    opacity: 1;
    color: #22004B;
    font-weight: bold;
}


.dark-modeSkillsIcon .icon img {
    filter: brightness(0) invert(1); 
}

.icon:hover {
    background-color: #22004B; 
    transform: scale(1.1);
    transition: .5s ;
}

.iconPg:hover {
    background-color: #22004B; 
    transform: scale(1.1);
    transition: .5s ;
}

.icon img {
    transition: filter 0.3s ease;
    z-index: 3;
}

.iconPg img {
    transition: filter 0.3s ease;
    z-index: 3;
}

.icon:hover img {
    filter: brightness(0) invert(1); 
}

.dark-modeSkillsIcon .icon:hover img {
    filter: none; 
}

.dark-modeSkillsIcon .icon:hover {
    background-color: #fff; 
    transform: scale(1.1);
    transition: .5s ;
}

.dark-modeSkillsIcon .iconPg:hover {
    background-color: #fff; 
    transform: scale(1.1);
    transition: .5s ;
}


@media (min-width: 1500px) {
    .lineSkills {
        width: 1500px;
    }
    
    .dark-modeTitleSkills .lineSkills {
        width: 1500px;
    }

}

@media (max-width: 1400px) {
    .lineSkills {
        width: 920px;
    }

    .dark-modeTitleSkills .lineSkills {
        width: 920px;
    }
    
    .icon img {
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 1300px) {
    .lineSkills {
        width: 730px;
    }
    

    .dark-modeTitleSkills .lineSkills {
        width: 730px;
    }
}

@media (max-width: 1100px) {
    .lineSkills {
        width: 700px;
    }
    

    .dark-modeTitleSkills .lineSkills {
        width: 700px;
    }
}

@media (max-width: 1000px) {
    .lineSkills {
        width: 550px;
    }
    

    .dark-modeTitleSkills .lineSkills {
        width: 550px;
    }

    .icon img {
        height: 90px;
        width: 90px;
    }
}

@media (max-width: 900px) {
    
    .titleSkills h2 {
        font-size: 30px;
    }

    .dark-modeTitleSkills h2 {
        font-size: 30px;
    }

    .lineSkills {
        width: 530px;
        right: 180px;
    }

    .dark-modeTitleSkills .lineSkills {
        width: 530px;
        right: 180px;
    }
    
    .icon img {
        height: 70px;
        width: 70px;
    }
}


@media (max-width: 800px) {
    .lineSkills {
        width: 450px;
        right: 180px;
    }

    .dark-modeTitleSkills .lineSkills {
        width: 450px;
        right: 180px;
    }
}

@media (max-width: 768px) {
    .lineSkills {
        width: 400px;

    }

    .dark-modeTitleSkills .lineSkills {
        width: 400px;
    }

    .dark-modeSkillsIcon div {
        gap: 80px;
    }

    .dark-modeSkillsIcon {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px; 
    }
    
    .skillsIcon {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px; 
    }

    .skillsIcon div {
        display: flex;
        flex-direction: column; 
        gap: 140px; 
    }

    .dark-modeSkillsIcon  div {
        display: flex;
        flex-direction: column; 
        gap: 140px; 
    }

    .icon {
        padding: 0;
    }
}

@media (max-width: 708px) {
    .lineSkills {
        width: 350px;
    }

    .dark-modeTitleSkills .lineSkills {
        width: 350px;
    }
}

@media (max-width: 600px) {
    .lineSkills {
        width: 250px;
    }

    .dark-modeTitleSkills .lineSkills {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .lineSkills {
        width: 100px;
    }

    .dark-modeTitleSkills .lineSkills {
        width: 100px;
    }
}

@media (max-width: 400px) {
    .lineSkills {
        width: 60px;
        right: 145px;
    }

    .dark-modeTitleSkills .lineSkills {
        width: 60px;
        right: 145px;
    }

    .titleSkills h2 {
        font-size: 25px;
    }

    .dark-modeTitleSkills h2 {
        font-size: 25px;
    }

}
