.container-contact {
    width: 100%;
    margin-top: 10px;
    padding: 30px;
}

.dark-modeContainer-contact {
    width: 100%;
    margin-top: 10px;
    padding: 30px;
}

.titleContact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: end;
    justify-content: end;
}

.dark-modeContainer-contact .titleContact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: end;
    justify-content: end;
}

.titleContact h2 {
    color: #22004B;
    font-weight: bold;
    position: relative;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.dark-modeContainer-contact .titleContact h2 {
    color: #FFF;
    font-weight: bold;
    position: relative;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.dark-modeContainer-contact .squareWhite {
    height: 27px;
    width: 27px;
    border: 1.5px solid #fff;
    border-radius: 2px;
}

.squareWhite {
    height: 27px;
    width: 27px;
    border: 1.5px solid #22004B;
    border-radius: 2px;
}

.lineContact {
    height: 2px;
    background-color: #482F68;
    opacity: 25%;
    width: 1000px;
    display: block;
    position: absolute;
    right: 200px;
    bottom: 7px;
    flex-grow: 1
}

.dark-modeContainer-contact .lineContact {
    height: 2px;
    background-color: #Fff;
    opacity: 25%;
    width: 1000px;
    display: block;
    position: absolute;
    right: 200px;
    bottom: 7px;
    flex-grow: 1
}

.testeIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #22004B;
    font-weight: bold;
    font-size: 20px;
}

.dark-modeContainer-contact .testeIcon {
    color: #FFF;
}

.containerContacts {
    display: flex;
    margin-top: 20px;
    padding-bottom: 50px;
    justify-content: space-around;
}


@media (min-width: 1500px) {
    .lineContact {
        width: 1550px;
    }

    .dark-modeContainer-contact .lineContact {
        width: 1550px;
    }
}



@media (max-width: 1300px) {
    .lineContact {
        width: 730px;
    }
    
    .dark-modeContainer-contact .lineContact {
        width: 730px;
    }


    .dark-modeTitleAboutMe h2 span {
        width: 900px;
    }
}

@media (max-width: 1100px) {
    .lineContact {
        width: 700px;
    }

    .dark-modeContainer-contact .lineContact {
        width: 700px;
    }
    

    .dark-modeTitleAboutMe h2 span {
        width: 700px;
    }
}


@media (max-width: 1000px) {
    .lineContact {
        width: 550px;
    }

    .dark-modeContainer-contact .lineContact {
        width: 550px;
    }

}

@media (max-width: 900px) {

    .titleContact h2 {
        font-size: 30px;
    }

    .dark-modeContainer-contact .titleContact  h2 {
        font-size: 30px;
    }

    .lineContact {
        right: 150px;
    }

    .dark-modeContainer-contact .lineContact {
        right: 150px;
    }

    .containerContacts div img {
        height: 50px;
        width: 50px;
    }
}


@media (max-width: 800px) {
    .lineContact {
        width: 450px;
    }   

    .dark-modeContainer-contact .lineContact {
        width: 450px;
    }
}

@media (max-width: 768px) {
    .lineContact {
        width: 400px;
    }

    .dark-modeContainer-contact .lineContact {
        width: 400px;
    }
}

@media (max-width: 700px) {
    .lineContact {
        width: 350px;
    }

    .dark-modeContainer-contact .lineContact {
        width: 350px;
    }
}

@media (max-width: 600px) {
    .lineContact {
        width: 250px;
    }

    .dark-modeContainer-contact .lineContact {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .lineContact {
        width: 130px;
    }

    .dark-modeContainer-contact .lineContact {
        width: 130px;
    }
    
}
