.container-Introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s;
}

.dark-modeContainerIntroduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s;
}

.containerTop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 100%;
}

.containerBottom {
    margin-top: 10px;
    cursor: pointer;
}

.highlight-text {
    color: #482F68;
}

.dark-modeHighlight-text {
    color: #8830F2;
}

.containerLeft h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #22004B;
}

.dark-modeContainerLeft h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
}

.containerLeft p {
    font-size: 1.8rem;
    font-weight: 200;
    color: #22004B;
}

.dark-modeContainerLeft p {
    font-size: 1.8rem;
    font-weight: 200;
    color: #fff;
}

.containerButtonsIntroduction {
    display: flex;
    gap: 20px;
    position: relative;
    right: 5px;
}

.containerBottom img {
    transition: 2s;
    animation: pusle infinite 2s;
}

.dark-modeArrow {
    filter: brightness(0) invert(1); 
}

/* Mobile  */

.containerTopMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.containerLeftMobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.containerLeftMobile h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #22004B;
    text-align: center;
}


.containerLeftMobile p {
    font-size: 1.8rem;
    font-weight: 200;
    color: #22004B;
    text-align: center;
}

.myName .name {
    font-weight: bold;
}

.myName .developer {
    font-weight: 400;
}

@keyframes pusle {
    from {
        transition: 2s;
        transform: scale(1.1);
    }
}

@media (min-width: 1500px) {
    .containerLeft h1 {
        font-size: 3.5rem;
    }

    .dark-modeContainerLeft h1 {
        font-size: 3.5rem;
    }

    .containerLeft p {
        font-size: 2rem;
    }

    .dark-modeContainerLeft p {
        font-size: 2rem;
    }
    
    .containerTop {
        margin-top: 100px;
    }

    .containerBottom {
        padding: 50px;
        margin-top: 90px;
    }

    .containerBottom img {
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 900px) {
    .containerLeft h1 {
        font-size: 2.3rem;
        font-weight: 700;
        color: #22004B;
    }
    
    .containerRight img {
        height: 250px;
        width: 250px;
    }

}

@media (min-width: 769px) {
    .containerTopMobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .containerTop {
        display: none;
    }

    .containerLeft {
        text-align: center; 
        gap: 10px; 
        order: 1; 
    }

    .containerLeft h1 {
        font-size: 1.8rem;
        font-weight: 700;
        color: #22004B;
    }

    .containerTopMobile h1 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .containerTopMobile .dark-modeContainerLeft {
        text-align: center; 
        gap: 10px; 
        order: 1; 
    }

    .containerRight {
        margin: 20px 0; 
    }

    .containerButtonsIntroduction {
        order: 3; 
        display: flex;
        gap: 20px; 
        align-items: center; 
        justify-content: center;
    }

    .containerButtonsIntroduction button {
        width: 90%; 
        max-width: 300px; 
        padding: 10px;
    }

    .containerRight img {
        width: 200px; 
        height: auto;
        border-radius: 50%; 
    }
}