.container-AboutMe {
    width: 100%;
    margin-top: 100px;
    padding: 30px;
}

.titleAboutMe {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.dark-modeTitleAboutMe {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.titleAboutMe h2 {
    color: #22004B;
    font-weight: bold;
    position: relative;
    font-size: 40px;
    margin-left:10PX;
    /* display: flex; */
}

.dark-modeTitleAboutMe h2 {
    color: #FFF;
    font-weight: bold;
    position: relative;
    font-size: 40px;
    margin-left: 10PX;
}

.dark-modeTitleAboutMe h2 span {
    height: 2px;
    background-color: #ffffff;
    opacity: 25%;
    width: 1000px;
    display: block;
    position: absolute;
    left: 220px;
    bottom: 7px;
    flex-grow: 1
}

.lineAboutMe {
    height: 2px;
    background-color: #482F68;
    opacity: 25%;
    width: 970px;
    display: block;
    position: absolute;
    left: 220px;
    bottom: 7px;
    flex-grow: 1
}

.lineAboutMe, .dark-modeTitleAboutMe h2 span {
    left: 220px;
    bottom: 7px;
    position: absolute;
    height: 2px;
    opacity: 25%;
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
}

.lineAboutMe {
    background-color: #482F68;
}

.dark-modeTitleAboutMe h2 span {
    background-color: #ffffff;
}

.squareWhite {
    height: 24px;
    width: 24px;
    border: 1.5px solid #22004B;
    border-radius: 2px;
}

.dark-modeSquareWhite {
    height: 24px;
    width: 24px;
    background-color: #FFF;
    border-radius: 2px;
}

.squarePurple {
    height: 24px;
    width: 24px;
    border-radius: 2px;
}

.dark-modeSquarePurple {
    border: 1.5px solid #FFF;
    height: 24px;
    width: 24px;
    background-color: #22004B;
    border-radius: 2px;
}

.paragrafoAboutMe {
    padding: 20px;
    display: flex;
    gap: 20px;
    color: #22004B;
    font-size: 18px;
    text-align: justify;
}

.dark-modeParagrafoAboutMe {
    padding: 20px;
    display: flex;
    gap: 20px;
    color: #FFF;
    font-size: 18px;
    text-align: justify;
}

@media (min-width: 1500px) {
    .titleAboutMe h2 span {
        width: 1500px;
    }

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 1500px;
    }
}

@media (max-width: 1400px) {
    .lineAboutMe {
        width: 920px;
    }
    
    .dark-modeTitleAboutMe .lineAboutMe {
        width: 920px;
    }
}

@media (max-width: 1300px) {
    .lineAboutMe {
        width: 730px;
    }
    

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 730px;
    }
}

@media (max-width: 1100px) {
    .lineAboutMe {
        width: 700px;
    }
    

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 700px;
    }
}


@media (max-width: 1000px) {
    .lineAboutMe {
        width: 550px;
    }
    

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 550px;
    }

    .titleAboutMe h2 {
        color: #22004B;
        font-weight: bold;
        position: relative;
        font-size: 40px;
        margin-left: 10PX;
    }
}



@media (max-width: 900px) {

    .titleAboutMe h2 {
        font-size: 30px;
    }
    
    .dark-modeTitleAboutMe h2 {
        font-size: 30px;
    }

    .lineAboutMe {
        width: 530px;
        left: 150px;
    }
    
    .dark-modeTitleAboutMe .lineAboutMe {
        width: 530px;
        left: 150px;
    }

    .paragrafoAboutMe {
        font-size: 15px;
    }

    .dark-modeParagrafoAboutMe {
        font-size: 15px;
    }
}


@media (max-width: 800px) {
    .lineAboutMe {
        width: 450px;
        left: 150px;
    }   

    .dark-modeTitleAboutMe .lineAboutMen {
        width: 450px;
        left: 150px;
    }

}

@media (max-width: 768px) {
    .lineAboutMe {
        width: 400px;
    }

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 400px;
    }
}

@media (max-width: 700px) {
    .lineAboutMe {
        width: 350px;
    }

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 350px;
    }
}

@media (max-width: 600px) {
    .lineAboutMe {
        width: 250px;
    }

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .lineAboutMe {
        width: 100px;
    }

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 100px;
    }
}

@media (max-width: 400px) {
    .lineAboutMe {
        width: 60px;
        left: 125px;
    }

    .dark-modeTitleAboutMe .lineAboutMe {
        width: 60px;
        left: 125px;
    }

    .titleAboutMe h2 {
        font-size: 25px;
    }
    
    .dark-modeTitleAboutMe h2 {
        font-size: 25px;
    }

    .paragrafoAboutMe {
        font-size: 13px;
    }

}
