@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --background-color: #fff;
  transition: .5s;
}

[data-theme='dark'] {
  --background-color: #22004B;
  transition: .5s;
}

html {
  background-color: var(--background-color);
}