.cardProject {
    position: relative; 
    width: 98%;
    height: 660px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    transition: all 0.5s ease; 
}

.teste {
    background-image: url("/Pagina principal.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 18px solid #22004B;
    border-radius: 20px 20px 20px 20px;
    transition: .5s;
    z-index: 3;
}

.testeDark {
    background-image: url("/Pagina principal.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 18px solid #fff;
    border-radius: 20px 20px 20px 20px;
    transition: .5s;
    z-index: 3;
}

.cardProject::before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); 
    border-radius: 20px 20px 0 0;
    z-index: 1; 
    transition: .5s;
}

.cardProject:hover::before {
    background-color: rgba(0, 0, 0, 0); 
    transition: .5s;
}

.cardProject:hover .icons {
    display: none;
    transition: .5s;
}

.cardProject h3 {
    position: relative;
    z-index: 2; 
    color: white; 
    font-size: 40px;
}

.icons {
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 2;
    transition: .5s;
}

.overlayHover {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70%;
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 50px;
    background-color: #22004b; 
    color: white; 
    text-align: center;
    /* padding: 10px; */
    transform: translateY(150%); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
    border-radius: 0 0 20px 20px;
}

.dark-modeOverlayHover {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70%;
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 50px;
    background-color: #fff; 
    color: #22004B; 
    text-align: center;
    /* padding: 10px; */
    transform: translateY(150%); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
    border-radius: 0 0 20px 20px;
}

.cardProject:hover .overlayHover {
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 0 0 20px 20px;
    transform: translateY(0);;
}

.cardProject:hover .dark-modeOverlayHover {
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 0 0 20px 20px;
    transform: translateY(0);;
}

.teste:hover {
    border: none;
    transition: .5s;
}

.testeDark:hover {
    border: none;
    transition: .5s;
}

.icons div {
    display: flex;
    gap: 20px;
}

.svg-color {
    filter: brightness(3) invert(0) ; 
}

.verMais {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
  
@media (max-width: 875px) {
    .overlayHover {
        justify-content: space-evenly;
        gap: 50%;
    }

    .dark-modeOverlayHover {
        justify-content: space-evenly;
        gap: 50%;
    }
}

@media (max-width: 570px) {
    .overlayHover {
        justify-content: space-evenly;
        gap: 40%;
    }

    .dark-modeOverlayHover {
        justify-content: space-evenly;
        gap: 40%;
    }

    .icons div img {
        height: 90px;
        width: 90px;
    }

    .icons div h3 {
        font-size: 40px;
    }

    .cardProject {
        position: relative; 
        width: 100%;
    }
}

@media (max-width: 510px) {
    .overlayHover {
        justify-content: space-evenly;
        gap: 20%;
    }

    .dark-modeOverlayHover {
        justify-content: space-evenly;
        gap: 20%;
    }

}